<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests"  thread-count="10" >


    <test name="firefoxTests">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="com.github.frunoman.tests.LoginTests"/>
        </classes>
    </test>

    <test name="chromeTests">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.github.frunoman.tests.LoginTests"/>
        </classes>
    </test>

    <test name="androidTests">
        <parameter name="udid" value="WWJNKFORFYSK8PPN" />
        <classes>
            <class name="com.github.frunoman.tests.LoginTests"/>
        </classes>
    </test>


</suite>